<div class="p-2 ms-4">
    <header class="mb-4 border-bottom pb-3 justify-content-center align-self-center d-flex align-content-center">
        <h3 class="text-white text-">Admin Panel</h3>
    </header>
    <a class="btn btn-link sidebar-link" [routerLink]="['/admin/dashboard']">Dashboard</a>
    <a class="btn btn-outline-info mt-3" [routerLink]="['/admin/add-vehicle']">Add Vehicle</a>
    <a class="btn btn-outline-info mt-3" [routerLink]="['/admin/manage-users']">Manage Users</a>
    

</div>