.hover-card {
  transition: transform 0.8s ease, box-shadow 0.8s ease;
  cursor: pointer;
}

.hover-card:hover {
  transform: translateY(-10px);
  background-color: #16263e !important;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15) !important;
}

.card-img-top {
  transition: transform 0.8s ease;
}

.hover-card:hover .card-img-top {
  transform: scale(1.2);
}

.overflow-hidden {
  overflow: hidden;
}

.dashboard-header h1 {
  font-size: 2rem;
}

.search-filter-section {
  border: 1px solid #e9ecef;
}

.input-group-text {
  border-right: 0;
}

.form-control:focus,
.form-select:focus {
  border-color: #002456;
  box-shadow: 0 0 0 0.25rem rgba(186, 203, 228, 0.35);
}

.filter-css {
  border: 0px solid #a6c0e4;
  background-color: transparent;
  color: white;
  transition: 0.25s ease;
}

select {
  width: 100%;
  max-width: 100%;
}

