<!-- <app-navbar></app-navbar> -->
<div class="hero-container">
  <div class="hero-card">
    <h1 class="hero-title">Explore Your Next Vehicle</h1>
    <p class="hero-subtitle">
      Browse the latest cars, compare features, and find the perfect match—all in one place.
    </p>

    <div class="">
      <nav class="d-flex justify-content-center gap-3 mt-3">
        <a [routerLink]="['/login']" class="btn btn-light btn-custom fw-semibold">Log In</a>
        <a [routerLink]="['/register']" class="btn btn-outline-light btn-custom fw-semibold"
          >Create Account</a
        >
      </nav>
    </div>
  </div>
</div>
