.admin-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 240px;
  background: #1e293b;
  color: white;
}

.content {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}
/* Desktop */
@media (min-width: 768px) {
  .sidebar {
    display: block;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .sidebar {
    display: none;
  }
}
